<div class="search">
  <form action="#" method="GET" data-component="search">
    <input type="text" name="search" placeholder="Usuário" autocomplete="off">
    <span class="line"></span>
    <button type="submit" class="btn-submit">
      <object type="image/svg+xml" data="/assets/img/search.svg">Search</object>
    </button>
  </form>
</div>